// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

$colors: (
    brand-blue: (
        base: #161240,
        light: lighten(#161240, 15%),
        dark: darken(#161240, 15%),
        trans: transparentize(#161240, 0.5)
    ),
    main-dark: (
        base: #0a0a08,
        light: lighten(#0a0a08, 15%),
        dark: darken(#0a0a08, 15%),
        trans: transparentize(#0a0a08, 0.5)
    ),
    main-light: (
        base: white,
        light: lighten(white, 15%),
        dark: darken(white, 15%),
        trans: transparentize(white, 0.5)
    ),
    secondary-light: (
        base: #e8ebee,
        light: lighten(#e8ebee, 15%),
        dark: darken(#e8ebee, 15%),
        trans: transparentize(#e8ebee, 0.5)
    ),
    main-accent: (
        base: #923041,
        light: lighten(#923041, 15%),
        dark: darken(#923041, 15%),
        trans: transparentize(#923041, 0.5)
    ),
    secondary-accent: (
        base: #260F0A,
        light: lighten(#260F0A, 15%),
        dark: darken(#260F0A, 15%),
        trans: transparentize(#260F0A, 0.5)
    )
);

@function color ($color-name, $color-variant){
    @return map-get(map-get($colors, $color-name), $color-variant);
}

html{
    background: color(main-light, dark) !important;
}
body{
    background: color(main-light, base); 
    position: relative;
}
button{
    border-radius: 0rem;
}
p{
    text-align: left;
    line-height: 1.35 !important;
}

.btn-primary{
    //background-color: color(main-accent, base) !important;
    //border-color: color(main-accent, base) !important;
    //max-width: 15rem;
}

#logo{
    height: 1rem;
}


nav>a{
    transform:translateX(-50%);
    margin-left: 50%;
}
.navbar{
    height: 3.5rem;
}

$enabled-rounded: false;

/*Hero jumbotron stuff*/
#hero_section{
    padding:0;
    position: relative;
    max-width: 845px;
}
#hero_items_wrap{
    margin: auto;
}
#top_background{
    //background: color(main-dark, base);
    //background: linear-gradient(red, yellow), url('assets/images/hero_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(#912f41, #0a0a08);
    padding-top: 80%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
}
.svg_canvas{
	height:100%;
	max-height:33px;
    width: 100%;
    fill: color(main-light, base);
}
.bottom_canvas{
	position: absolute;
	bottom:0;
}
svg{
    background-color: transparent;
}
.jumbotron-text-column{
    position: absolute;
    left: 7%;
    //top: 4%; 
    z-index: 10;
    top: 27%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#table_svg_animation{
    height: auto;
    width: 100%;
    margin-top:16%;
}
#contact_button{
    padding-left:2rem;
    padding-right: 2rem;
    background-color: transparent !important;
    border-color: color(secondary-light,base);
}
#contact_button:active{
    background-color: color(secondary-light, dark) !important;
    color: color(main-dark, light);
    border-color: color(main-dark, light);
}
.jumbo-title{
    color: color(main-light, base);
    text-align: left;
    visibility: hidden;
    position: absolute;
}


/*Projects Section*/
#portfolio_top_wrapper{
    min-height: 400px;
    margin-top: 2rem;
}
.portfolio_card{
    background: color(secondary-light, base);
    margin-bottom: 3rem;
    border: none;
    border-radius: 0rem;
    //color: color(main-light, base);
}
.portfolio_card_header{
    background: color(main-dark, base);
    color: color(main-light, base);
    position: absolute;
    left: 0;
    top: -1.5rem;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 0rem !important;
}
#portfolio_button{
    color: color(main-dark, base);
    border-color: color(main-dark, base);
    border-style: solid;
    border-style: solid;
    border-width: 1px;
}

/*Contact section*/
#contact_section{
    //background: url('assets/images/hero_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 200px;
}
#contact_section_title{
    text-align: center;
}
#whatsapp_button{
    background-color: #006e00;
    color:white;
}

/*QUERIES*/
@media (orientation : landscape){
}
@media (min-width: 470px){
    #top_background{
        padding-top: 50%;
    }
}
@media (min-width: 550px) {
    #table_svg_animation{
        margin-top: 0rem;
    }
    .jumbo-title{
        color: color(main-light, base);
        visibility: initial;
        position: initial;
    }
 }
 @media (min-width: 700px) {
     .jumbotron-text-column{
         top: 23%;
         left: 12%;
     }
  }
  @media (min-width: 1120px) {
    body, #top_background{
        width:1120px;
        margin: 0 auto;
    }
    html{
        background-color: color(main-light, dark);
    }
    .jumbotron-text-column{
        top: 35%;
        left: 10%;
    }
    
  }